html {
  font-family: arial;
}
body {
  margin: 0;
  tex-align:center;
  background:url('../image/background.jpg');
  background-size: 100%;
}

#box{
	width:380px;
	height:300px;
	border:2px solid rgba(255,255,255,0.5);
	box-shadow: 0px 2px 8px rgba(255,255,255,0.7);
	margin-top:20vh;
	background:rgba(255,255,255,0.65);
	border-radius:10px;
}

#boxf{
	width:70vw;
	height:60vh;
	border:2px solid rgba(255,255,255,0.5);
	box-shadow: 0px 2px 8px rgba(255,255,255,0.7);
	margin-top:20vh;
	background:rgba(255,255,255,0.65);
	border-radius:10px;
}

#logo1 img{
	float:left;
	width:25%;
	height:98px;
	margin:3%;
	margin-right:0px;
}

#final{
	margin:10vh;
}

input{
	font-size:18px;
	width:360px;
	height:38px;
	margin-top:10px;
	background:rgba(255,255,255,0.5);
	border:1px solid rgba(0,0,0,0.5);
	text-align: center;
}

input:hover{
	box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

button{
	font-size:27px;
	width:360px;
	height:38px;
	margin-top:10px;
	background:rgba(9,177,232,0.7);
	border:1px solid rgba(0,17,32,0.5);
	text-align: center;
	border-radius:7px;
	cursor: pointer;
}

button:hover{
	background:rgba(19,187,242,0.95);
}

#logo2 img{
	float:right;
	width:25%;
	height:98px;
	margin:3%;
	margin-left:0px;
}

#judul1{
	font-size:40px;
}

#judul2{
	font-size:20px;
}